
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

PG_DATABASE=
PG_USER=
PG_PASSWORD=
DB_HOST=
DB_PORT=

SENTRY_DSN= (optional)
ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_LIFETIME=

ALGORITHM=

TIMEZONE=

STATIC_FILES=
MEDIA_FILES=